<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <title>text foramatting</title>


    <body>
        <h1 id="format2">The Best Features of the Internet</h1>
        <ul>
            <li>You can meet new people from countries around the world.</li>
            <li>You have access to new media as it becomes public:
                <ul>
                    <li class="ul2">New games</li>
                    <li class="ul2">New applications
                        <ol>
                            <li>For business</li>
                            <li>For pleasure</li>
                        </ol>
                    </li>
                    <li class="ul2">Around the clock news</li>
                    <li class="ul2">Search engines</li>
                    <li class="ul2">Shopping</li>
                    <li class="ul2">Programming
                        <ol>
                            <li>XML</li>
                            <li>Java</li>
                            <li>HTML5</li>
                            <li>JavaScript</li>
                            <li>New languages</li>
                        </ol>
                    </li>
                </ul>
            </li>
            <li>Links</li>
            <li>Keeping in touch with old friends</li>
            <li>It's the technology of the future!</li>
        </ul>
    </body>
</head>
</html>
